<!--############################################################
################################################################
##	Name: index.html
##	Author: Bradley Dowling, 2021
##	Description: index.html will be the homepage of the articles
##               app once it is completed.
-->
{% extends "articles/base_layout.html" %}

{% block content %}
	<h3 style="margin-left: 10px;">The home page is currently under construction</h3>
	<p style="margin-left: 10px;">Please check out the volumes of <i>Conversations with a Neuron</i> via the navbar...</p>
{% endblock %}